#cart-container {
    height: auto;
}

#cart-header {
    text-align: center;
    margin: 10%;
    font-size: xx-large;
    font-weight: bold;
}

#buttons-container {
    display: flex;
    flex-direction: column;
}