.calendar-holder{
    display: flex;
    padding-top: 60px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calendar-container{
    display: flex;
    padding-top: 60px;
    justify-content: center;
    align-items: center;
}

.courseCalnder-area{
    padding-top: 60px;
}
.calendarHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.courseCalendar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}
.text-center{
    padding-top: 10px;
}

#visible-btn {
    display: block;
    transform: translateY(1vh);
    background-color: rgb(225, 225, 225);
    border-radius: 5px;
    margin-right: 0.5vw;
}

#hidden-btn {
    display: none;
}
.add-event-button{
    width: 6vw;
    height: 4vh;
    border-radius: 5px;
    margin: 4px;
}
.event-input{
    width: 10vw;
    height: 4vh;
    border-radius: 5px;
    margin: 4px;
}
.remove-event-button{
    width: 6vw;
    margin: 4px;
    height: 4vh;
    border-radius: 5px;
}