* {
  padding: 0;
  margin: 0;
}

.header {
  margin-top: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
  background: rgb(15, 19, 35);
  z-index: 1;
  overflow: visible;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(15, 19, 35);
  width: 100%;
  font-size: x-large;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  color: rgb(179,179,179);
}

.nav-item:hover {
  cursor: pointer;
  color: white;
}

#dropdown {
  position: relative;
}

#dropdown-content {
  display: none;
  position: absolute;
  top: 90%;
  left: -25%;
  background-color: rgb(15, 19, 35);
  transition: transform 0.3s ease;
  transform: translateY(-10px);
  opacity: 0;
  height: 28vh;
  width: 150%;
  font-size: large;
  line-height: 7vh;
  padding: 10%;
  color: rgb(179,179,179);
}

.dropdown-content {
  color: rgb(179,179,179);
}

#dropdown:hover #dropdown-content , #dropdown-contant:hover{
  display: block;
  transform: translateY(0);
  opacity: 1;
}

.dropdown-content:hover {
  color: white;
}

#logo-container {
  width: 10%;
  display: flex;
  margin-right: -5vw;
  margin-top: 2vh;
}

#header-logo {
  width: 100%;
}