* {
  padding: 0;
  margin: 0;
}

.header {
  margin-top: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
  background: rgb(15, 19, 35);
  z-index: 1;
  overflow: visible;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(15, 19, 35);
  padding: 10px;
}

.nav-item {
  flex: 1;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px; /* Add padding to increase spacing */
}

.dropdown {
  position: relative;
  color: #fff;
  margin-left: 10px; /* Add margin to increase spacing */
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(15, 19, 35);
  padding: 10px;
  transition: transform 0.3s ease; /* Add transition for smooth effect */
  transform: translateY(-10px); /* Initial transform to hide the content */
  opacity: 0; /* Initial opacity to hide the content */
}

.dropdown:hover .dropdown-content {
  display: block;
  transform: translateY(0); /* Apply transform to show the content */
  opacity: 1; /* Change opacity to show the content */
}

.dropdown-content a {
  display: block;
  margin-bottom: 5px;
  color: #333;
  text-decoration: none;
}

.dropdown-content a:hover {
  text-decoration: underline;
}
