#grades-container {
    height: 60vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.grades-first-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grades-headers {
    font-weight: bold;
}


@media screen and (max-width: 768px) {

    #grades-container {
        width: auto;
    }
}